*{
    margin: 0;
    padding: 0;
}
body{
    background-color: aqua;
}
.main{
    height: 80vh;
    width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* -------------------------------------------------- */

#ageLabel{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}
#ageInput{
    padding: 5px 10px;
}

/* -------------------------------------------------- */
#myButton{
    padding: 5px 15px;
    margin-top: 10px;
    border-radius: 5px;
    color: white;
    background-color: red;
    font-weight: 700;
    cursor: pointer;
    transition:background-color 0.3s;
}
#myButton:hover{
    background-color: rgb(189, 0, 0);
}

#outputText{
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;
}