@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

/* ------------------------------------------------------------------------------------------- */
/* BACKGROUND */



.main-back {
    height: 690px;
    width: 100%;
    background-image: url(Assets/background.jpg);
    background-position: center;
    background-size: cover;

    position: relative;
    z-index: 0;


    overflow-x: hidden;
    /* background-repeat: no-repeat; */
}

.black-layer {
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;

    position: absolute;
    z-index: -1;
}

/* ------------------------------------------------------------------------------------------- */

/* NAVIGATION BAR */

.logo-sign_in_button {
    height: 10vh;
    width: 80vw;
    margin: auto;
    margin-top: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-sign_in_button img {
    height: 60px;
    width: 137px;
}

.logo-sign_in_button button {
    padding: 5px 13px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.logo-sign_in_button button:hover {
    background-color: #a30a12;
}

/* ------------------------------------------------------------------------------------------- */
/* Back Body text  */

.body_text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 130px;
    color: white;
    text-align: center;
}

.body_text :nth-child(1) {
    font-size: 56px;
    font-weight: 900;
    width: 50vw;
}

.body_text :nth-child(2) {
    font-size: 20px;
    font-weight: 500;
}

.body_text :nth-child(3) {
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
}


/* ------------------------------------------------------------------------------------------- */
/* Input Email and Get Started Button */
.email_input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.email_input #email_for_login {
    padding: 15px 170px 15px 15px;
    background-color: rgba(3, 9, 9, 0.8);
    color: white;
    border: 1px solid gray;
    border-radius: 5px;
}

.email_input button {
    font-size: 24px;
    font-weight: 500;
    padding: 8px 20px 8px 20px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

/* ------------------------------------------------------------------------------------------- */
/* Responsiveness  */

/* 1100px */
@media screen and (max-width:1100px) {

    .body_text {
        margin-top: 120px;
    }

    .body_text :nth-child(1) {
        font-size: 40px;
        width: 60vw;
    }

    .body_text :nth-child(2) {
        font-size: 20px;
        font-weight: 500;
    }

    .body_text :nth-child(3) {
        font-size: 16px;
    }
}

/* 650px  */
@media screen and (max-width:650px) {

    .body_text :nth-child(1) {
        font-size: 30px;
        width: 80vw;

    }

    .body_text :nth-child(3) {
        font-size: 14px;
        width: 50vw;
    }

    .email_input {
        margin-top: 30px;
    }

    .email_input #email_for_login {
        padding: 10px 50px 10px 15px;
    }

    .email_input button {
        font-size: 16px;
        padding: 8px 20px 8px 20px;
    }
}

/* 550px  */
@media screen and (max-width:550px) {
    .body_text {
        margin-top: 150px;
    }

    .body_text :nth-child(1) {
        font-size: 30px;
        width: 80vw;
    }

    .body_text :nth-child(2) {
        font-size: 18px;
        width: 80vw;
    }

    .body_text :nth-child(3) {
        font-size: 12px;
        width: 70vw;
    }

    .email_input {
        display: flex;
        flex-direction: column;
    }

    .email_input button {
        font-size: 16px;
        margin-top: 10px;
    }

}

/* ------------------------------------------------------------------------------------------- */
/* Ranking of titles  */
.trending {
    height: auto;
    width: 100%;
}

.trending h2 {
    width: 80vw;
    margin: auto;
    color: white;
    margin-top: 30px;
}

.titles {
    margin: auto;
    margin-top: 15px;
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: center;
}

.titles>div img {
    border-radius: 10px;
    width: 65%;
    cursor: pointer;
}

.titles>div img:hover {
    transform: scale(1.1, 1.1);
    transition: transform 0.2s ease-out;
}

/* ------------------------------------------------------------------------------------------- */

/* "More Reasons"  */

.m_reasons {
    height: auto;
    width: 100%;
}

.m_reasons h2 {
    width: 80vw;
    margin: auto;
    color: white;
    margin-top: 30px;
}

.m_reasons .reasons {
    margin: auto;
    margin-top: 15px;
    width: 80vw;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 300px;
    gap: 20px;
}

.reasons .rsn {
    position: relative;
    /* background-color: rgba(72, 42, 141, 0.7); */

    /* LINEAR GRADIENT */
    background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);


    border-radius: 20px;
    padding: 10px;
}

.reasons>div h3 {
    margin-top: 20px;
    color: white;
}

.reasons>div p {
    margin-top: 15px;
    color: rgb(145, 143, 143);
}

.reasons>div img {
    height: 60px;
    position: absolute;
    z-index: 2;
    bottom: 10px;
    right: 10px;
}

/* ------------------------------------------------------------------------------------------- */
/* Responsiveness  */

/* 1100px */
@media screen and (max-width:1050px) {
    .titles>div img {
        width: 80%;
    }

    .reasons .rsn {
        font-size: 14px;
    }

    .reasons .r4 {
        font-size: 13px;
    }
}

/* 880px  */
@media screen and (max-width:880px) {
    .m_reasons .reasons {
        display: flex;
        flex-direction: column;
    }

    .reasons .rsn p {
        width: 80%;
    }
}

/* 650px  */
@media screen and (max-width:650px) {
    .titles {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr;
        row-gap: 10px;
    }

    .titles>div img {
        width: 75%;
    }
}

/* 550px  */
@media screen and (max-width:550px) {
    .titles>div img {
        width: 90%;
    }
}

/* ------------------------------------------------------------------------------------------- */
/* FAQ  */

.faq {
    height: auto;
    width: 100%;
}

.faq h2 {
    width: 80vw;
    margin: auto;
    color: white;
    margin-top: 40px;
}

.questions_answers {
    height: 85px;
    width: 75vw;
    margin: auto;
    background-color: rgb(45 45 45);
    margin-top: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;

    color: white;
    font-size: 24px;
    cursor: pointer;
}

.questions_answers:hover {
    background-color: rgb(68 68 68);
}

/* ------------------------------------------------------------------------------------------------------------ */
/* Footer mail  */
.footer_mail {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.footer_mail #email_for_login {
    padding: 15px 270px 15px 15px;
    background-color: rgba(3, 9, 9, 0.8);
    color: white;
    border: 1px solid gray;
    border-radius: 5px;
}

.footer_mail button {
    font-size: 24px;
    font-weight: 500;
    padding: 8px 20px 8px 20px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

footer .mail_u_text {
    width: 80vw;
    margin: auto;
    margin-top: 80px;

    font-size: 16px;
    font-weight: 400;
    color: white;
    text-align: center;
}

/* ------------------------------------------------------------------------------------------------------------ */
/* Footer Links */
.faq_d_q {
    width: 80vw;
    margin: auto;
    margin-top: 80px;
}

.faq_d_q a {
    color: rgba(255, 255, 255, 0.7);
    ;
}

.footer_links {
    height: auto;
    width: 80vw;
    margin: auto;
    margin-top: 60px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.footer_links .links div a {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
}

.footer_links .links div {
    margin: 7px;
}

/* ------------------------------------------------------------------------------------------------------------ */
/* Footer Bottom  */

.footer_bottom {
    height: 400px;
    width: 80vw;
    margin: auto;
    margin-top: 50px;
}

/* Language Selector  */
.footer_bottom #language {
    padding: 5px 20px 5px 20px;
    background-color: rgba(27, 25, 25, 0.7);
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}

/* Copyright and reCAPTCHA */
.copyright {
    color: rgba(255, 255, 255, 0.7);
    margin-top: 30px;
    font-size: small;
}

.recaptcha {
    color: gray;
    font-size: 13px;
    margin-top: 30px;
}


/* ------------------------------------------------------------------------------------------------------------ */
/* Responsiveness  */

/* 680px */
@media screen and (max-width:680px) {

    .footer_mail {
        display: flex;
        flex-direction: column;
    }

    .footer_mail button {
        font-size: 16px;
        margin-top: 10px;
    }

    footer .mail_u_text {
        font-size: 12px;
    }

    .questions_answers {
        font-size: 20px;
    }

}

/* 550px  */
@media screen and (max-width:550px) {
    .footer_links {
        grid-template-columns: 1fr 1fr;
    }

    .footer_mail #email_for_login {
        padding: 10px 50px 10px 15px;

    }

    .questions_answers {
        font-size: 16px;
    }
}